# Primary source geodatabases
NC.gdb
NHD.gdb
NHDrasters
NLCDdata

# HUC6 Geodatabases
Data/EEP_*.gdb/

# Results GDB
Data/*.gdb
Data/*.sde

Scratch/*

# Stat results folder
Data/Habitat*

# Docs in progress
Docs/*.pptx

# 
EEP_HabitatStatistics.tbx
Scripts/Explore_SpeciesHUC8.py
Scripts/ScriptTemplate.py
DataExploration.tbx

Data/NC_Results.gdb.zip

*.lock
