# Primary source geodatabases
NC.gdb
NHD.gdb
NHDrasters
NLCDdata

# Results GDB
Data/*.gdb
Data/*.sde

# Misc info dir in Data folder
Data/info

# Stat results folders
Data/Habitat*
Data/MACP
Data/PiedmontStats


# 
EEP_HabitatStatistics.tbx
Scripts/Explore_SpeciesHUC8.py
Scripts/ScriptTemplate.py
DataExploration.tbx

#ArcMap LOCK files
*.lock

#Docs for creating figures
FigsSept2015.mxd

#Ignore contents of the Scratch folder
Scratch/*